<%= form_for(@word) do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= @word.errors.count %> 
          <%= t("error", :count => @word.errors.count) %> 
          <%= t("prohibited", :count => @word.errors.count) %> 
          <%= t("this_word_from_being_saved") %>:</h2>

      <ul>
      <% @word.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:word) %><br />
    <%= f.text_field :word %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
