<%= link_to t(:regular_play), regular_play_path %>
<%= link_to t(:easy_play), easy_play_path %>

<h1><%= t(:listing_words) %></h1>

<%= link_to t(:new_word), new_word_path %>

<table>
  <tr>
    <th><%= t(:word) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @words.each do |word| %>
  <tr>
    <td><%= word.word %></td>
    <td><%= link_to t(:show), word %></td>
    <td><%= link_to t(:edit), edit_word_path(word) %></td>
    <td><%= link_to t(:destroy), word, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
  </tr>
<% end %>
</table>

